.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bg-fb {
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  border-radius: 12px;
}

.options button {
  margin-right: 25px;
}

.postSeperator {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.user-profile-icon {
  font-size: 2em !important;
}

.postHeader * {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.9em;
}

.postComments p {
  margin-left: 20px;
}
